.store {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 20rem;
    height: 15.8rem;
    top: 2rem;
    left: 14rem;
    border-radius: 20px;
    padding: 1rem;
    background-color: white;
    opacity: .95;
    border: solid thin rgb(227, 227, 230);
}
.borderUp {
    margin-top: -.6rem;
    width: 13rem;
    opacity: .3;
}
.showroom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    row-gap: .4rem;
    column-gap: .2rem;
    width: 90%;
    height: 70%;
    padding: 1.5rem;
    overflow-y: scroll;
    overflow-x: hidden; 
}
.showroom.bigger {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.closeButton {
    position: absolute;
    z-index: 3;
    font-size: 1.5rem;
    color: rgb(119, 119, 119);
    right: 1rem;
    top: .5rem;
    cursor: pointer;
}
.storeInput {
    width: 15rem;
    height: 1.5rem;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: .8rem;
    background-color: white;
    cursor: pointer;
}
.storeInput:focus {
    outline: none;
}
.storeBuy {
    border: none;
    background-color: #4637f1;
    width: 4rem;
    height: 1.3rem;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(255, 254, 254);
    margin-top: .5rem;
    margin-bottom: -.5rem;
}
.product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    min-width: 4rem;
    height: 1.5rem;
    background-color: #f9eac1;
    border-radius: 6px;
    cursor: pointer;
}
.productText {
    color: rgb(173, 130, 3);
    font-size: .75rem;
}
.deleteProduct {
    position: absolute;
    top: -.7rem;
    right: -.3rem;
    font-weight: 600;
    color: rgb(119, 119, 119);
    cursor: pointer;
    opacity: 0;
}

.product:hover .deleteProduct {
    opacity: 1;
    transition: .8s;
}