.classes {
    width: 40rem;
    height: 30rem;
    border: solid thin black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.class {
    width: 3rem;
    height: fit-content;
    overflow: hidden;
    background-color: aqua;
    margin-left: 3.8rem;
}