.classes {
    padding: 1rem;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    border: solid thin rgb(232, 233, 247);
    border-radius: 15px;
    
}
.class {
    position: relative;
    width: 15rem;
    height: 9rem;
    padding: .5rem;
    background-color: white;
    border-radius: 25px;
    border: solid thin rgb(232, 233, 247);
    margin-left: 3.8rem;
}