.option {  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 8.5rem;
    height: .6rem;
    border-radius: 12px;
    padding: 1rem;
    background-color: white;
    opacity: .95;
    border: solid thin rgb(227, 227, 230);
    cursor: pointer;
}
.formIcon {
    margin-right: 1rem;
    color: #877def;
    font-size: 1.3rem;
}
.location {
    border: solid thin rgb(227, 227, 230);
    border-radius: 12px;
    width: 8.5rem;
    font-family: 'Poppins', sans-serif;
    padding: .8rem;
    background-color: white;
    cursor: pointer;
}
.closeClassForm {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    width: 2.3rem;
    height: 2.3rem;
    color: white;
    cursor: pointer;
}
.closeClassForm:hover {
    transform: translateY(-.1rem);
    transition: .7s;
}