.test {
    width: 3rem;
    height: 3rem;
    border: solid thin red;
    border-radius: 25px;
}
.studentOption {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 5rem;
    height: fit-content;
    overflow: hidden;
}
.studentOption:hover .storeIcon{
    transform: translateY(-.2rem);
    transition: .6s;
}
.studentTitle{
font-size: .6rem;
display: flex;
justify-content: center;
align-items: center;
}
.storeIcon {
    width: 2rem;
    height: 2rem;
}