.toggle-switch {
    display: inline-block;
    cursor: pointer;
  }
  
  .switch {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 1rem;
    padding: .1rem;
    background-color: #6f37f1;
    border-radius: 15px;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .switch.on {
    background-color: #4CAF50;
  }
  
  .slider {
    width: .9rem;
    height: .9rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
  }
  
  .switch.on .slider {
    transform: translateX(1rem);
  }
