.studentOption {
    margin: .2rem 0;
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 10rem;
}
.RegIcon {
    position: absolute;
    top: 7.8rem;
    right: 2.2rem;
    font-size: 2rem;
    color: #6f37f1;
    
}

.RegIcon.stud {
color: #4CAF50;
}
