@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
}
body { 
background-color: rgb(247, 247, 246);
font-family: 'Poppins', sans-serif;
overflow-y: hidden;
}

.layout {
  position: relative;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  color:rgb(106, 106, 109)
  
}
button {
  border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f37f1;
    margin: 1rem;
    padding:1rem;
    width: fit-content;
    height: 1.3rem;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(255, 254, 254);
}
input {
  border: solid thin rgb(227, 227, 230);
    border-radius: 10px;
    width: 9rem;
    font-family: 'Poppins', sans-serif;
    padding: .8rem;
    background-color: white;
    cursor: pointer;
}
form{
    top: 5rem;
    left: 30rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    padding: 1rem;
    row-gap: .5rem;
    border: solid thin rgb(227, 227, 230);
    border-radius: 15px;
    background-color: rgb(224, 218, 250);
}
.authUserReminder {
  position: absolute;
  right: 2rem;
  font-size: .8rem;
}

